@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Reem+Kufi:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Merriweather', serif;
  font-size: 6rem;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.24rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #00b900 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #ff3366 !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b69b74 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #00b900 !important;
  border-color: #00b900 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #006d00 !important;
  border-color: #006d00 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #006d00 !important;
  border-color: #006d00 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #343434 !important;
  border-color: #343434 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #005300;
  color: #005300;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #00b900;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before,
.btn-primary-outline.active:before {
  transform: scaleX(1);
}
.btn-primary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b900;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #00b900 !important;
  border-color: #00b900 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #010101;
  color: #010101;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #343434;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before,
.btn-secondary-outline.active:before {
  transform: scaleX(1);
}
.btn-secondary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #343434;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #343434 !important;
  border-color: #343434 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff3366;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before,
.btn-info-outline.active:before {
  transform: scaleX(1);
}
.btn-info-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff3366;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #f7ed4a;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before,
.btn-success-outline.active:before {
  transform: scaleX(1);
}
.btn-success-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7ed4a;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #879a9f;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before,
.btn-warning-outline.active:before {
  transform: scaleX(1);
}
.btn-warning-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #879a9f;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #816843;
  color: #816843;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #b69b74;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before,
.btn-danger-outline.active:before {
  transform: scaleX(1);
}
.btn-danger-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b69b74;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before,
.btn-black-outline.active:before {
  transform: scaleX(1);
}
.btn-black-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #00b900 !important;
}
.text-secondary {
  color: #343434 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #ff3366 !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b69b74 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #005300 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #010101 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cc0033 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #816843 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff3366;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b69b74;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #00b900;
  border-color: #00b900;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #00b900;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3aff3a;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e2d7c8;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.4rem;
}
.form-control > .mbr-iconfont {
  font-size: 2.24rem;
}
blockquote {
  border-color: #00b900;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #00b900;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #00b900;
  border-bottom-color: #00b900;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #00b900 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #343434 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2300b900' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sktBxfdDYy .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sktBxfdDYy .nav-item,
.cid-sktBxfdDYy .nav-link,
.cid-sktBxfdDYy .navbar-caption {
  font-weight: normal;
}
.cid-sktBxfdDYy .nav-item:focus,
.cid-sktBxfdDYy .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sktBxfdDYy .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
}
.cid-sktBxfdDYy .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cid-sktBxfdDYy .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sktBxfdDYy .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-sktBxfdDYy .dropdown .dropdown-menu .dropdown-item:hover .soc-item .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-sktBxfdDYy .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sktBxfdDYy .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-sktBxfdDYy .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sktBxfdDYy .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sktBxfdDYy .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #eee8df;
  background: none;
}
.cid-sktBxfdDYy .navbar.opened {
  transition: all .3s;
  background: #eee8df !important;
}
.cid-sktBxfdDYy .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-sktBxfdDYy .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  -webkit-justify-content: flex-end;
}
.cid-sktBxfdDYy .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sktBxfdDYy .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sktBxfdDYy .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(99vh - 3.8rem);
  }
}
.cid-sktBxfdDYy .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sktBxfdDYy .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sktBxfdDYy .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sktBxfdDYy .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sktBxfdDYy .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sktBxfdDYy .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sktBxfdDYy .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sktBxfdDYy .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sktBxfdDYy .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sktBxfdDYy .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sktBxfdDYy .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sktBxfdDYy .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sktBxfdDYy .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sktBxfdDYy .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sktBxfdDYy .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sktBxfdDYy .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sktBxfdDYy .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sktBxfdDYy .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-sktBxfdDYy .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sktBxfdDYy .navbar.navbar-short {
  background: #eee8df !important;
  min-height: 60px;
}
.cid-sktBxfdDYy .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sktBxfdDYy .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sktBxfdDYy .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sktBxfdDYy .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sktBxfdDYy .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sktBxfdDYy .dropdown-item.active,
.cid-sktBxfdDYy .dropdown-item:active {
  background-color: transparent;
}
.cid-sktBxfdDYy .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sktBxfdDYy .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sktBxfdDYy .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sktBxfdDYy .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #eee8df;
}
.cid-sktBxfdDYy .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sktBxfdDYy .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sktBxfdDYy ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sktBxfdDYy .navbar-buttons {
  text-align: center;
}
.cid-sktBxfdDYy button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sktBxfdDYy button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-sktBxfdDYy button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sktBxfdDYy button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sktBxfdDYy button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sktBxfdDYy button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sktBxfdDYy nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sktBxfdDYy nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sktBxfdDYy nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sktBxfdDYy nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sktBxfdDYy .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-sktBxfdDYy a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sktBxfdDYy .soc-item .mbr-iconfont {
  font-size: 1rem;
  color: #66458e;
  display: inline-flex;
}
.cid-sktBxfdDYy .soc-item .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-sktBxfdDYy .soc-item {
  margin: .5rem .3rem;
}
.cid-sktBxfdDYy .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sktBxfdDYy a.nav-link,
.cid-sktBxfdDYy a.dropdown-item {
  display: flex;
  align-items: center;
}
.cid-sktBxfdDYy a.nav-link .mbr-iconfont-btn,
.cid-sktBxfdDYy a.dropdown-item .mbr-iconfont-btn {
  margin-right: 10px;
}
.cid-sktBxfdDYy a.nav-link:hover .mbr-iconfont-btn,
.cid-sktBxfdDYy a.dropdown-item:hover .mbr-iconfont-btn {
  opacity: 0;
  margin-left: -20px;
}
.cid-sktBxfdDYy a.dropdown-item .mbr-iconfont-btn {
  margin-top: -4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sktBxfdDYy .navbar {
    height: 77px;
  }
  .cid-sktBxfdDYy .navbar.opened {
    height: auto;
  }
  .cid-sktBxfdDYy .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-skIde0OEnq {
  padding-top: 135px;
  padding-bottom: 135px;
}
.cid-skIde0OEnq H3 {
  text-align: left;
}
@media (max-width: 767px) {
  .cid-skIde0OEnq .title1 {
    font-size: 1.2rem;
  }
  .cid-skIde0OEnq .title2 {
    font-size: 1.2rem;
  }
}
.cid-skIde0OEnq fieldset {
  width: 100%;
}
.cid-skh2fFSQPo {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f1eeea;
}
.cid-skh2fFSQPo .row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-skh2fFSQPo video {
  width: 90%;
}
.cid-skh2fFSQPo .mbr-text,
.cid-skh2fFSQPo .mbr-section-btn {
  color: #767676;
}
@media (max-width: 992px) {
  .cid-skh2fFSQPo video {
    width: 100%;
  }
  .cid-skh2fFSQPo .pb-5 {
    padding-bottom: 1rem !important;
  }
}
.cid-skh2fFSQPo H3 {
  color: #343434;
}
.cid-skh2fFSQPo .last h3 {
  color: #ff3366;
}
@media (max-width: 767px) {
  .cid-skh2fFSQPo .item h3 {
    font-size: 1rem;
    text-align: left;
  }
  .cid-skh2fFSQPo .last h3 {
    font-size: 1.5rem;
  }
}
.cid-skh2fFSQPo H1 {
  text-align: left;
}
.cid-skm6H2mkrk {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #eee8df;
}
@media (max-width: 992px) {
  .cid-skm6H2mkrk {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .cid-skm6H2mkrk .md-pb {
    margin-bottom: 2rem;
  }
}
.cid-skm6H2mkrk .link {
  position: relative;
  width: fit-content;
  display: inline-block;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-skm6H2mkrk .link:before {
  content: '\e966';
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: currentColor;
}
.cid-skm6H2mkrk .link:hover:before {
  margin-right: -0.4rem;
}
.cid-skm6H2mkrk .box {
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cid-skm6H2mkrk .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #cebfaf;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cid-skm6H2mkrk .bg1 {
  background-image: url("../../../assets/images/youtube-606x342.png");
}
.cid-skm6H2mkrk .icon-wrap {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}
.cid-skm6H2mkrk .icon-wrap:hover {
  transform: scale(1.1);
}
.cid-skm6H2mkrk .icon-wrap span {
  padding-left: 8px;
}
.cid-skm6H2mkrk .mbr-media span {
  font-size: 38px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #ffffff !important;
}
.cid-skm6H2mkrk .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-skm6H2mkrk .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-skm6H2mkrk .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-skm6H2mkrk .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-skm6H2mkrk a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-skm6H2mkrk a.close:hover {
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-skm6H2mkrk {
    padding-top: 35px;
    padding-bottom: 21px;
  }
  .cid-skm6H2mkrk .box {
    height: 250px;
  }
}
.cid-skm6H2mkrk H4 {
  color: #b69b74;
}
.cid-skltOY5UU8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f1eeea;
}
.cid-skltOY5UU8 .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-skltOY5UU8 .mbr-content-text {
  color: #767676;
  margin-bottom: 0;
}
.cid-skltOY5UU8 .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-skltOY5UU8 .cards-block {
    border-top: 2px solid #efefef;
  }
}
.cid-skltOY5UU8 .cards-block .card {
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.cid-skltOY5UU8 .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-skltOY5UU8 .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-skltOY5UU8 .media-block {
    padding-left: 2rem;
  }
}
.cid-skltOY5UU8 .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-skltOY5UU8 .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-skltOY5UU8 .count {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .cid-skltOY5UU8 .panel-item {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cid-skltOY5UU8 .card-img {
    padding-bottom: 1rem;
    padding-right: 0 !important;
    margin: auto;
  }
}
.cid-skltOY5UU8 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-skmbjnOzcG {
  padding-top: 75px;
  padding-bottom: 15px;
  background-color: #eee8df;
}
.cid-skmbjnOzcG H3 {
  color: #000000;
  font-weight: normal;
}
.cid-skmbjnOzcG H4 {
  color: #d58f76;
}
.cid-skmbjnOzcG img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.cid-skskrvahvi {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #eee8df;
}
.cid-skskrvahvi img,
.cid-skskrvahvi .item-img {
  width: 100%;
}
.cid-skskrvahvi .item:focus,
.cid-skskrvahvi span:focus {
  outline: none;
}
.cid-skskrvahvi .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-skskrvahvi .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-skskrvahvi .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-skskrvahvi .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-skskrvahvi .mbr-section-btn {
  margin-top: auto !important;
}
.cid-skskrvahvi .mbr-section-title {
  color: #232323;
}
.cid-skskrvahvi .mbr-text,
.cid-skskrvahvi .mbr-section-btn {
  text-align: left;
}
.cid-skskrvahvi .item-title {
  text-align: left;
}
.cid-skskrvahvi .item-subtitle {
  text-align: left;
}
.cid-skmaS7ncEo {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #eee8df;
}
.cid-skmaS7ncEo img,
.cid-skmaS7ncEo .item-img {
  width: 100%;
}
.cid-skmaS7ncEo .item:focus,
.cid-skmaS7ncEo span:focus {
  outline: none;
}
.cid-skmaS7ncEo .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-skmaS7ncEo .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-skmaS7ncEo .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-skmaS7ncEo .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-skmaS7ncEo .mbr-section-btn {
  margin-top: auto !important;
}
.cid-skmaS7ncEo .mbr-section-title {
  color: #232323;
}
.cid-skmaS7ncEo .mbr-text,
.cid-skmaS7ncEo .mbr-section-btn {
  text-align: left;
}
.cid-skmaS7ncEo .item-title {
  text-align: left;
}
.cid-skmaS7ncEo .item-subtitle {
  text-align: left;
}
.cid-skqO5Jtv6d {
  padding-top: 75px;
  padding-bottom: 15px;
  background-color: #f1eeea;
}
.cid-skqO5Jtv6d H3 {
  color: #000000;
  font-weight: normal;
}
.cid-skqO5Jtv6d H4 {
  color: #d58f76;
}
.cid-skqO5Jtv6d img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.cid-sks40oUPXr {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #f1eeea;
}
.cid-sks40oUPXr img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.cid-sks40oUPXr .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #00b900;
  background-color: rgba(132, 138, 189, 0.15);
  margin-bottom: 26px;
}
.cid-sks40oUPXr .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-sks40oUPXr .mbr-section-subtitle {
  color: #eb8f2e;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-sks40oUPXr .contents {
  margin-top: 36px;
}
.cid-sks40oUPXr .contents .content-text {
  color: #606060;
  font-weight: 300;
}
.cid-sks40oUPXr .mbr-section-btn {
  margin-top: 8px;
}
.cid-sks40oUPXr .mbr-section-btn .btn {
  padding: 18px 26px;
}
.cid-sks40oUPXr .mbr-section-btn .btn.display-4 {
  font-size: 13px;
  line-height: 1;
}
.cid-sks40oUPXr .mbr-section-btn .btn:hover {
  box-shadow: 0 0 0 5px rgba(60, 113, 211, 0.2) !important;
  -webkit-box-shadow: 0 0 0 5px rgba(60, 113, 211, 0.2) !important;
}
@media (max-width: 767px) {
  .cid-sks40oUPXr .sample {
    font-size: 1rem;
  }
  .cid-sks40oUPXr .img-col img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .cid-sks40oUPXr .card {
    padding: 0 0 0 0 ;
    width: 100%;
    margin: 0 auto;
  }
  .cid-sks40oUPXr .card-wrapper {
    padding-right: 2.5rem;
    width: 100%;
    margin: 0 auto;
  }
  .cid-sks40oUPXr .check1 {
    width: 100%;
    margin: 0 auto;
  }
  .cid-sks40oUPXr .card-box {
    width: 100%;
    margin: 0 auto;
  }
}
.cid-sksaLJTk0Y {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #f1eeea;
}
.cid-sksaLJTk0Y img {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.cid-sksaLJTk0Y .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #00b900;
  background-color: rgba(132, 138, 189, 0.15);
  margin-bottom: 26px;
}
.cid-sksaLJTk0Y .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-sksaLJTk0Y .mbr-section-subtitle {
  color: #eb8f2e;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-sksaLJTk0Y .contents {
  margin-top: 36px;
}
.cid-sksaLJTk0Y .contents .content-text {
  color: #606060;
  font-weight: 300;
}
.cid-sksaLJTk0Y .mbr-section-btn {
  margin-top: 8px;
  font-weight: bold;
}
.cid-sksaLJTk0Y .mbr-section-btn .btn {
  padding: 18px 26px;
}
.cid-sksaLJTk0Y .mbr-section-btn .btn.display-4 {
  font-size: 13px;
  line-height: 1;
}
.cid-sksaLJTk0Y .mbr-section-btn .btn:hover {
  box-shadow: 0 0 0 5px rgba(60, 113, 211, 0.2) !important;
  -webkit-box-shadow: 0 0 0 5px rgba(60, 113, 211, 0.2) !important;
}
@media (max-width: 767px) {
  .cid-sksaLJTk0Y .sample {
    font-size: 1rem;
  }
  .cid-sksaLJTk0Y .img-col img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .cid-sksaLJTk0Y .card {
    padding: 0 0 0 0 ;
    width: 100%;
    margin: 0 auto;
  }
  .cid-sksaLJTk0Y .card-wrapper {
    padding-right: 2.5rem;
    width: 100%;
    margin: 0 auto;
  }
  .cid-sksaLJTk0Y .check1 {
    width: 100%;
    margin: 0 auto;
  }
  .cid-sksaLJTk0Y .card-box {
    width: 100%;
    margin: 0 auto;
  }
}
.cid-sksaLJTk0Y .asd {
  color: red !important;
  font-weight: bold !important;
}
.cid-smjxAYVzb4 {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #f1eeea;
}
@media (max-width: 767px) {
  .cid-smjxAYVzb4 .row {
    flex-direction: column-reverse;
  }
  .cid-smjxAYVzb4 .mbr-figure {
    margin-bottom: 1.5rem;
  }
}
.cid-smjxAYVzb4 .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-smjxAYVzb4 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-smjxAYVzb4 .media-content,
.cid-smjxAYVzb4 .mbr-figure {
  align-self: center;
}
.cid-smjxAYVzb4 .mbr-figure iframe {
  width: 100%;
}
.cid-skqJfFC0bf {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #eee8df;
}
.cid-skqJfFC0bf H3 {
  color: #000000;
  font-weight: normal;
}
.cid-skqJfFC0bf H4 {
  color: #d58f76;
}
.cid-skqJfFC0bf img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.cid-skmYEXEH06 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eee8df;
}
@media (min-width: 1500px) {
  .cid-skmYEXEH06 .container {
    max-width: 1400px;
  }
}
.cid-skmYEXEH06 img {
  margin-bottom: -2.5rem;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  transform: translateY(-100px);
  object-fit: cover;
}
.cid-skmYEXEH06 .link-wrap {
  display: inline-block;
  width: fit-content;
}
.cid-skmYEXEH06 .card-wrapper {
  background: #efefef;
  background-position: center;
  padding: 0 4rem;
  padding-bottom: 4rem;
  margin-top: 6rem;
  cursor: pointer;
  transition: all 0.3s;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}
@media (max-width: 1400px) {
  .cid-skmYEXEH06 .card-wrapper {
    padding: 0 1.5rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-skmYEXEH06 .card-wrapper {
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
}
.cid-skmYEXEH06 .link {
  position: relative;
  cursor: pointer;
  letter-spacing: 3px;
  width: fit-content;
  color: #d58f76;
}
.cid-skmYEXEH06 .link:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: currentColor;
  bottom: -2px;
  left: 0;
}
.cid-skmYEXEH06 .link:hover:before {
  animation: 2s line;
}
@keyframes line {
  0% {
    transform: scale(1);
    transform-origin: right;
  }
  25% {
    transform: scale(0);
    transform-origin: right;
  }
  26% {
    transform: scale(0);
    transform-origin: left;
  }
  75% {
    transform: scale(1);
    transform-origin: left;
  }
}
.cid-skmYEXEH06 .card-subtitle {
  color: #200960;
}
.cid-skmYEXEH06 .mbr-price {
  color: #200960;
}
.cid-skmYEXEH06 .mbr-section-subtitle {
  color: #1921f4;
}
.cid-skmYEXEH06 .mbr-text,
.cid-skmYEXEH06 .link-align {
  color: #1921f4;
}
.cid-skqG8gnUvC {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #eee8df;
}
.cid-skqG8gnUvC .mbr-section-title {
  color: #343434;
}
.cid-skqG8gnUvC .mbr-text,
.cid-skqG8gnUvC .mbr-section-btn {
  color: #343434;
}
.cid-skqG8gnUvC .btn {
  color: white!important;
  border-color: white!important;
}
.cid-skqG8gnUvC .align-left {
  max-width: 1400px;
}
@media (max-width: 767px) {
  .cid-skqG8gnUvC .ex p {
    text-align: left;
  }
  .cid-skqG8gnUvC .free a {
    font-size: 1rem;
  }
}
.cid-skxBQ6Hn6D {
  padding-top: 75px;
  padding-bottom: 15px;
  background-color: #f1eeea;
}
.cid-skxBQ6Hn6D H3 {
  color: #000000;
  font-weight: normal;
}
.cid-skxBQ6Hn6D H4 {
  color: #d58f76;
}
.cid-skxBQ6Hn6D img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.cid-skx3mc0LD7 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #f1eeea;
}
.cid-skx3mc0LD7 img {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.cid-skx3mc0LD7 .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #00b900;
  background-color: rgba(132, 138, 189, 0.15);
  margin-bottom: 26px;
}
.cid-skx3mc0LD7 .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-skx3mc0LD7 .mbr-section-subtitle {
  color: #00b900;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-skx3mc0LD7 .contents {
  margin-top: 36px;
}
.cid-skx3mc0LD7 .contents .content-text {
  color: #606060;
  font-weight: 300;
}
.cid-skx3mc0LD7 .mbr-section-btn {
  margin-top: 8px;
}
.cid-skx3mc0LD7 .mbr-section-btn .btn {
  padding: 18px 26px;
}
.cid-skx3mc0LD7 .mbr-section-btn .btn.display-4 {
  font-size: 13px;
  line-height: 1;
}
.cid-skx3mc0LD7 .mbr-section-btn .btn:hover {
  box-shadow: 0 0 0 5px rgba(60, 113, 211, 0.2) !important;
  -webkit-box-shadow: 0 0 0 5px rgba(60, 113, 211, 0.2) !important;
}
@media (max-width: 767px) {
  .cid-skx3mc0LD7 .line img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .cid-skx3mc0LD7 .merit {
    text-align: left;
  }
  .cid-skx3mc0LD7 br {
    margin-bottom: 0.5rem;
  }
}
.cid-skx8H4bXcY {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #f1eeea;
}
.cid-skx8H4bXcY .container-fluid {
  padding: 0 2rem;
}
.cid-skx8H4bXcY .mbr-section-title {
  margin-bottom: 1rem;
}
.cid-skx8H4bXcY .mbr-title {
  padding: 0 1rem;
}
.cid-skx8H4bXcY .mbr-section-subtitle {
  margin-top: .8rem;
  margin-bottom: 1.3rem;
}
.cid-skx8H4bXcY .underline {
  padding: .5rem 1rem .5rem 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-skx8H4bXcY .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #00b900, #343434);
  display: inline-block;
}
.cid-skx8H4bXcY .image-wrap {
  width: 100%;
}
.cid-skx8H4bXcY .image-wrap img {
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
}
.cid-skx8H4bXcY .btn {
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
}
.cid-skx8H4bXcY .card-wrapper {
  padding: 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .cid-skx8H4bXcY .container-fluid {
    padding: 0rem;
  }
}
.cid-skx6pHl5cI {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #f1eeea;
}
.cid-sksUqYI3Id {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #eee8df;
}
.cid-sksUqYI3Id .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sksUqYI3Id h4 {
  max-width: 600px;
  margin: auto;
  line-height: 1.4;
}
@media (min-width: 767px) {
  .cid-sksUqYI3Id .form-check-inline {
    margin-right: 2rem;
  }
  .cid-sksUqYI3Id .form-control-label {
    display: inline-flex;
    padding-right: 3rem;
    margin-bottom: 0;
    padding-left: 0.4rem;
  }
  .cid-sksUqYI3Id .check {
    display: flex;
    align-items: flex-end;
  }
}
@media (min-width: 992px) {
  .cid-sksUqYI3Id .col,
  .cid-sksUqYI3Id .col-lg-6 {
    max-width: 48%;
  }
  .cid-sksUqYI3Id .form-group {
    margin-bottom: 0, 5rem;
  }
}
@media (max-width: 992px) {
  .cid-sksUqYI3Id .check {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .cid-sksUqYI3Id .form-group {
    margin-bottom: 0rem;
  }
}
.cid-sksUqYI3Id label {
  margin-bottom: 0;
}
.cid-sksUqYI3Id .form-row {
  justify-content: space-between;
}
.cid-sksUqYI3Id .form-control,
.cid-sksUqYI3Id .field-input {
  padding: 0.5rem;
  background-color: #f1eeea;
  border: none !important;
  border-bottom: 2px solid #343434 !important;
  border-radius: 0;
  color: #343434;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sksUqYI3Id .form-control:focus,
.cid-sksUqYI3Id .field-input:focus {
  color: #343434 !important;
}
.cid-sksUqYI3Id .form-control:hover,
.cid-sksUqYI3Id .field-input:hover {
  color: #343434 !important;
}
.cid-sksUqYI3Id .form-control input::-webkit-input-placeholder,
.cid-sksUqYI3Id .field-input input::-webkit-input-placeholder,
.cid-sksUqYI3Id .form-control textarea::-webkit-input-placeholder,
.cid-sksUqYI3Id .field-input textarea::-webkit-input-placeholder {
  color: #343434;
}
.cid-sksUqYI3Id .form-control input:-moz-placeholder,
.cid-sksUqYI3Id .field-input input:-moz-placeholder,
.cid-sksUqYI3Id .form-control textarea:-moz-placeholder,
.cid-sksUqYI3Id .field-input textarea:-moz-placeholder {
  color: #343434;
}
.cid-sksUqYI3Id .form-control:hover,
.cid-sksUqYI3Id .field-input:hover,
.cid-sksUqYI3Id .form-control:focus,
.cid-sksUqYI3Id .field-input:focus {
  background-color: #f1eeea;
  border-color: #343434 !important;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sksUqYI3Id .form-control:hover input::-webkit-input-placeholder,
.cid-sksUqYI3Id .field-input:hover input::-webkit-input-placeholder,
.cid-sksUqYI3Id .form-control:focus input::-webkit-input-placeholder,
.cid-sksUqYI3Id .field-input:focus input::-webkit-input-placeholder,
.cid-sksUqYI3Id .form-control:hover textarea::-webkit-input-placeholder,
.cid-sksUqYI3Id .field-input:hover textarea::-webkit-input-placeholder,
.cid-sksUqYI3Id .form-control:focus textarea::-webkit-input-placeholder,
.cid-sksUqYI3Id .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-sksUqYI3Id .form-control:hover input:-moz-placeholder,
.cid-sksUqYI3Id .field-input:hover input:-moz-placeholder,
.cid-sksUqYI3Id .form-control:focus input:-moz-placeholder,
.cid-sksUqYI3Id .field-input:focus input:-moz-placeholder,
.cid-sksUqYI3Id .form-control:hover textarea:-moz-placeholder,
.cid-sksUqYI3Id .field-input:hover textarea:-moz-placeholder,
.cid-sksUqYI3Id .form-control:focus textarea:-moz-placeholder,
.cid-sksUqYI3Id .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-sksUqYI3Id .jq-number__spin:hover,
.cid-sksUqYI3Id .jq-number__spin:focus {
  background-color: #f1eeea;
  border-color: #343434;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sksUqYI3Id .jq-number__spin {
  background-color: #f1eeea;
  border-color: #343434;
  color: #343434;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sksUqYI3Id .jq-selectbox li,
.cid-sksUqYI3Id .jq-selectbox li {
  background-color: #f1eeea;
  color: #000000;
}
.cid-sksUqYI3Id .jq-selectbox li:hover,
.cid-sksUqYI3Id .jq-selectbox li.selected {
  background-color: #f1eeea;
  color: #000000;
}
.cid-sksUqYI3Id .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sksUqYI3Id .jq-number__spin.minus:hover:after,
.cid-sksUqYI3Id .jq-number__spin.plus:hover:after {
  border-top-color: #f1eeea;
  border-bottom-color: #f1eeea;
}
.cid-sksUqYI3Id .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sksUqYI3Id .jq-number__spin.minus:after,
.cid-sksUqYI3Id .jq-number__spin.plus:after {
  border-top-color: #f1eeea;
  border-bottom-color: #f1eeea;
}
.cid-sksUqYI3Id input::-webkit-clear-button {
  display: none;
}
.cid-sksUqYI3Id input::-webkit-inner-spin-button {
  display: none;
}
.cid-sksUqYI3Id input::-webkit-outer-spin-button {
  display: none;
}
.cid-sksUqYI3Id input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-sksUqYI3Id H5 {
  text-align: center;
}
.cid-sksUqYI3Id P {
  text-align: center;
}
.cid-sksUqYI3Id LABEL {
  color: #767676;
}
.cid-sksUqYI3Id H4 {
  color: #9c9485;
  text-align: left;
}
.cid-skxvRtwNrC {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #353535;
}
.cid-skxvRtwNrC .row-links {
  width: 100%;
  justify-content: center;
}
.cid-skxvRtwNrC .social-row {
  width: 100%;
  justify-content: center;
}
.cid-skxvRtwNrC .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-skxvRtwNrC .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-skxvRtwNrC .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-skxvRtwNrC .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-skxvRtwNrC .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-skxvRtwNrC .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-skxvRtwNrC .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-skxvRtwNrC .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-skxvRtwNrC .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-skxvRtwNrC .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-skxvRtwNrC .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-skxvRtwNrC .media-container-row .row-copirayt p {
  width: 100%;
}
